annotated-types==0.7.0
anyio==4.4.0
asgiref==3.7.2
bcrypt==5.0.0
blinker==1.7.0
certifi==2024.7.4
charset-normalizer==3.4.4
click==8.1.7
colorama==0.4.6
conan==2.25.1
coverage==7.6.12
distro==1.9.0
Django==5.0.1
dnspython==2.6.1
email_validator==2.2.0
fastapi==0.115.5
fastapi-cli==0.0.5
fasteners==0.20
Flask==3.0.0
greenlet==3.0.3
gunicorn==26.0.0
h11==0.14.0
httpcore==1.0.5
httptools==0.7.1
httpx==0.27.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jiter==0.13.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
openai==2.29.0
packaging==24.1
passlib==1.7.4
patch-ng==1.18.1
phonenumbers==9.0.2
pillow>=10.4.0
pluggy==1.5.0
prompt_toolkit==3.0.50
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pymongo==4.8.0
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.2
questionary==2.1.0
requests==2.32.5
rich==13.7.1
setuptools==69.0.3
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlparse==0.4.4
starlette==0.41.3
tqdm==4.67.3
truecallerpy==1.0.3
typer==0.12.4
typing_extensions==4.15.0
urllib3==2.6.3
uv==0.11.19
uvicorn==0.32.1
uvloop==0.20.0
watchfiles==0.23.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.1